<?php include MEMBER_COMMON_PATH.'/header.html';?>
<div class="layui-container fly-marginTop">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title">
                <li class="layui-this">登录</li>
                <?php if(isset($config['registerswitch']) AND $config['registerswitch']>0):?><li><a href="/member/register/">注册</a></li><?php endif;?>
            </ul>
            <div class="layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-pane">
						<?php if(isset($config['loginswitch']) AND $config['loginswitch']>0):?>
                        <form class="layui-form">
                            <div class="layui-form-item">
                                <label for="L_email" class="layui-form-label">邮箱</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_email" name="email" required lay-verify="required|email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_pass" class="layui-form-label">密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="L_pass" name="password" required lay-verify="required|passwd" autocomplete="off" class="layui-input">
                                </div>
                            </div>
							<?php if(isset($config['yzmswitch']) AND $config['yzmswitch']>0):?>
                            <div class="layui-form-item" style="position: relative;">
                                <label for="L_vercode" class="layui-form-label">图形验证</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_vercode" name="vercode" required lay-verify="required|vercode" placeholder="" autocomplete="off" class="layui-input">
                                </div>
                                <div class="zlkb_yzm">
                                    <img src="/Captcha?t=login" alt="图片验证码" height="36" class="loadcode">
                                </div>
                            </div>
							<?php endif;?>
                            <div class="layui-form-item">
                                <button class="layui-btn" lay-filter="login" lay-submit>立即登录</button>
                                <?php if(isset($config['forgetpwdswitch']) AND $config['forgetpwdswitch']>0):?><span style="padding-left:20px;"><a href="/member/forgetpwd">忘记密码？</a></span><?php endif;?>
                            </div>
                        </div>
                    </form>
                    <?php else:?>
                    <blockquote class="layui-elem-quote">
                         <p>本系统已经关闭登录功能；</p>
                   </blockquote>
                   <?php endif;?>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--引入公共底文件-->
<?php include MEMBER_COMMON_PATH.'/footer.html';?>
<script>
    layui.use('memberlogin');
</script>