<?php include MEMBER_COMMON_PATH.'/header.html';?>
<div class="layui-container fly-marginTop">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title">
                <?php if(isset($config['loginswitch']) AND $config['loginswitch']>0):?><li><a href="/member/login">登录</a></li><?php endif;?>
                <li class="layui-this">找回密码</li>
            </ul>
            <div class="layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-pane">
						<?php if(isset($config['forgetpwdswitch']) AND $config['forgetpwdswitch']>0):?>
                        <form class="layui-form" method="post">
                            <div class="layui-form-item">
                                <label for="L_email" class="layui-form-label">邮箱</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_email" name="email" required lay-verify="required|email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
							<?php if(isset($config['yzmswitch']) AND $config['yzmswitch']>0):?>
                            <div class="layui-form-item" style="position: relative;">
                                <label for="L_vercode" class="layui-form-label">图形验证</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_vercode" name="vercode" required lay-verify="required|vercode" placeholder="" autocomplete="off" class="layui-input">
                                </div>
                                <div class="zlkb_yzm">
                                    <span style="color: #c00;"><img src="/Captcha?t=forgetpwd" alt="图片验证码" height="36" class="loadcode"></span>
                                </div>
                            </div>
							<?php endif;?>
                            <div class="layui-form-item">
                                <button class="layui-btn" alert="1" lay-filter="forgetpwd" lay-submit>提交</button>
                            </div>
                        </form>
					<?php else:?>
						<blockquote class="layui-elem-quote">
							<p>本系统已经关闭密码重置功能；</p>
						</blockquote>
                   <?php endif;?>
                    </div>
                </div>
                <!-- 发送成功以后显示这个 -->
                <div class="layui-tab-item">
                    <div class="layui-form layui-form-pane">
                        <ul class="layui-form">
                            <li class="layui-form-li" style="margin-top: 20px; line-height: 26px;">
                                <div>
                                    1. 如果您未收到邮件，或验证链接失效，您可以刷新本页面后，重新发送邮件 ，或者更换邮箱；
                                </div>
                                <div>
                                    2. 如果您始终没有收到 平台发送的邮件，请注意查看您邮箱中的垃圾邮件；
                                </div>
                                <div>
                                    3. 如果你实在无法激活邮件，您还可以联系：admin@xx.com
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--引入公共底文件-->
<?php include MEMBER_COMMON_PATH.'/footer.html';?>
<script>
    layui.use('memberforgetpwd');
</script>