<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ZFAKA平台-by资料空白</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="资料空白">
	<meta name="author" content="资料空白">
	<meta name="version" content="<?php echo VERSION;?>">
    <meta name="description" content="ZFAKA平台正在由资料空白开发">
    <link rel="stylesheet" href="/res/layui/css/layui.css">
    <link rel="stylesheet" href="/res/css/install.css">
    <script>
    var TOKEN = "<?php echo $csrf_token;?>";
    if (self != top) {
        top.location = self.location;
    }
    </script>
</head>

<body>
    <div class="fly-header layui-bg-black">
        <div class="layui-container">
            <a class="fly-logo" href="/"><img src="/res/images/logo.png" alt="layui"></a>
            <ul class="layui-nav fly-nav">
                <li class="layui-nav-item">
                    <a href="javascript:;">安装</a>
                </li>
            </ul>

    </div>
<div class="layui-container fly-marginTop fly-user-main">
    <div class="layui-row layui-col-space15">
			<div class="layui-card">
			  <div class="layui-card-header">1.服务条款</div>
			  <div class="layui-card-body">
				<div class="layui-form-item">
					<textarea placeholder="" class="layui-textarea">首先感谢您选择使用本系统,本系统不会收集任何信息,不预留漏洞后门;但由于互联网复杂性与系统软件更新太快,我不能保证本系统毫无漏洞,请自行做好安全措施并进行数据备份.</textarea>
				</div>
				<div class="layui-form-item" style="text-align: center;">
					<a class="layui-btn" lay-submit="" lay-filter="agree" href="/install/setpone">同意</a>
					<button class="layui-btn layui-btn-danger" lay-submit="" lay-filter="demo2" onClick="custom_close()">拒绝</button>
				</div>
			  </div>
			</div>
    </div>
</div>
<!--引入公共底文件-->
	<div class="fly-footer">
	  <p>Powered by <a href="https://github.com/zlkbdotnet/zfaka/" target="_blank">ZFAKA <?php echo VERSION;?></a></p>
	</div>
<script src="/res/layui/layui.js"></script>
<script>
layui.config({
  version: "<?php echo VERSION;?>"
  ,base: '/res/mods/'
}).use('common');
layui.use('element', function(){
  var element = layui.element;
});
</script>
</body>
</html>
<script language="javascript">
	function custom_close(){
		window.open("about:blank", "_self").close();
	}
</script>