<?php include ADMIN_COMMON_PATH.'/header.html';?>
<div class="layui-container fly-marginTop fly-user-main">
    <?php include ADMIN_COMMON_PATH.'/index-nav.html';?>
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li class="layui-this" lay-id="info">我的主页</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-form-pane layui-tab-item layui-show">
					<div class="layui-card" style="">
						<div class="layui-card-header">二次开发信息</div>
						<div class="layui-card-body layui-text">
							<table class="layui-table" style="color:#009688;">
								<colgroup>
									<col width="100">
									<col>
									<col width="30%">
								</colgroup>
								<tbody>
								<tr>
									<td>开发者</td>
									<td><a href="https://github.com/hiyouli" target="_blank">游离</a></td>
								</tr>
								<tr>
									<td>开源地址</td>
									<td><a href="https://github.com/hiyouli/zfaka" target="_blank">Github地址</a></td>
								</tr>
								<tr>
									<td>特别说明</td>
									<td>为方便个人用户收款，特别为 <a href="https://payjs.cn/ref/NDKEDL" target="_blank">PAYJS</a> 定制版本，二次开发的内容全部开源</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="layui-card">
						<div class="layui-card-header">版本信息</div>
						<div class="layui-card-body layui-text">
							 <table class="layui-table">
								<colgroup>
								  <col width="100">
								  <col>
								  <col width="30%">
								</colgroup>
								<tbody>
								  <tr>
									<td>当前站点</td>
									<td><?php echo $config['weburl'];?></td>
									<td><a href="/<?php echo ADMIN_DIR;?>/setting/edit/?id=4">立即修改</a></td>
								  </tr>
								  <tr>
									<td>当前版本</td>
									<td>ZFAKA <?php echo VERSION;?></td>
									<td><a href="https://github.com/zlkbdotnet/zfaka/releases">历史版本</a></td>
								  </tr>
								  <tr>
									<td>基于框架</td>
									<td>YAF+layui</td>
									<td><a href="https://github.com/zlkbdotnet/zfaka/wiki">WIKI</a></td>
								  </tr>
								  <tr>
									<td>开源作者</td>
									<td>资料空白</td>
									<td><a href="https://github.com/zlkbdotnet/zfaka/wiki/%E6%8D%90%E8%B5%A0%E5%90%8D%E5%8D%95">捐赠</a></td>
								  </tr>
								  <tr>
									<td>获取渠道</td>
									<td style="padding-bottom: 0;" colspan="2">
									  <div class="layui-btn-container">
										<button class="layui-btn layui-btn-danger" lay-submit="" lay-filter="check">检查更新</button>
										<a href="https://github.com/zlkbdotnet/zfaka/" target="_blank" class="layui-btn">去STAR</a>
									  </div>
									</td>
								  </tr>
								</tbody>
							  </table>
						</div>
					</div>
					<?php if(!empty($order)):?>
					<div class="layui-card">
						<div class="layui-card-header">待处理订单</div>
						<div class="layui-card-body layui-text">
							<div class="layui-form">
							<table class="layui-table">
								<colgroup>
								  <col>
								  <col width="200">
								  <col width="100">
								  <col width="100">
								</colgroup>
								<thead>
									<tr>
										<th><div class="layui-table-cell laytable-cell-1-productname"><span>商品</span></div></th>
										<th><div class="layui-table-cell laytable-cell-1-addtime"><span>时间</span></div></th>
										<th><div class="layui-table-cell laytable-cell-1-paymoney"><span>支付金额</span></div></th>
										<th><div class="layui-table-cell laytable-cell-1-opt" align="center"><span>操作</span></div></th>
									</tr>
								</thead>
								<tbody>
									<?php foreach($order AS $item):?>
									<tr>
										<td><?php echo $item['productname'];?></td>
										<td><?php echo date('Y-m-d H:i:s',$item['addtime']);?></td>
										<td><?php echo $item['paymoney'];?></td>
										<td><a class="layui-btn layui-btn-warm layui-btn-xs" href="/<?php echo ADMIN_DIR;?>/order/view/?id=<?php echo $item['id'];?>">查看</a></td>
									</tr>
								  <?php endforeach;?>
								</tbody>
							 </table>
							 </div>
						</div>
					</div>
					<?php endif;?>
                </div>
            </div>
        </div>
    </div>
</div>
<!--引入公共底文件-->
<?php include ADMIN_COMMON_PATH.'/footer.html';?>
<script>
layui.use('adminindex');
</script>