<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
        <a href="/member/">我的主页</a>
    </li>
    <li class="layui-nav-item">
        <a href="/member/profiles">基本设置</a>
    </li>
    <li class="layui-nav-item">
        <a href="/member/product">我的产品</a>
    </li>
    <li class="layui-nav-item">
        <a href="/member/logger">日志中心</a>
    </li>
</ul>
<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>
<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>