<?php include ADMIN_COMMON_PATH.'/header.html';?>
<div class="layui-container fly-marginTop fly-user-main">
    <?php include ADMIN_COMMON_PATH.'/order-nav.html';?>
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="email">
            <ul class="layui-tab-title" id="LAY_mine">
                <li class="" lay-id="info"><a href="/<?php echo ADMIN_DIR;?>/order/">订单管理</a></li>
                <li lay-id="info"><a href="/<?php echo ADMIN_DIR;?>/order/view/?id=<?php echo $order['id'];?>">查看</a></li>
				<li class="layui-this" lay-id="info">确认付款</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-form-pane layui-tab-item layui-show">
                    <blockquote class="layui-elem-quote">
                        <p>
							注意事项： 本功能用于管理员主动确认订单已付款，请慎用。
						</p>
                    </blockquote>
                    <form class="layui-form layui-show" method="post">
                        <div class="layui-form-item">
                            <label for="orderid" class="layui-form-label">订单编号</label>
                            <div class="layui-input-inline">
                                <input type="text" id="orderid" name="orderid" disabled autocomplete="off" value="<?php echo $order['orderid'];?>" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="productname" class="layui-form-label">商品名称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="productname" name="productname" disabled autocomplete="off" value="<?php echo $order['productname'];?>" class="layui-input">
                            </div>
                        </div>
						
                        <div class="layui-form-item">
							<input type="hidden" name="id" value="<?php echo $order['id'];?>">
                            <button class="layui-btn" key="set-mine" lay-filter="order-pay-button" lay-submit>确认付款</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--引入公共底文件-->
<?php include ADMIN_COMMON_PATH.'/footer.html';?>
<script>
layui.use('adminorder');
</script>