<?php include MEMBER_COMMON_PATH.'/header.html';?>
<div class="layui-container fly-marginTop fly-user-main">
    <?php include MEMBER_COMMON_PATH.'/member-nav.html';?>
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li data-type="collection" class="layui-this" lay-id="collection">登录日志</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <table class="layui-table" id="login"></table>
                    <script type="text/javascript">
                        function createTime(v){
                            var date = new Date();
                            date.setTime(parseInt(v)*1000);
                            var y = date.getFullYear();
                            var m = date.getMonth()+1;
                            m = m<10?'0'+m:m;
                            var d = date.getDate();
                            d = d<10?("0"+d):d;
                            var h = date.getHours();
                            h = h<10?("0"+h):h;
                            var M = date.getMinutes();
                            M = M<10?("0"+M):M;
                            var s = date.getSeconds();
                            s = s<10?("0"+s):s;
                            var str = y+"-"+m+"-"+d+" "+h+":"+M+":"+s;
                            return str;
                        }
                    </script>
                    <script type="text/html" id="addtime">
                        {{ createTime(d.addtime) }}
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<!--引入公共底文件-->
<?php include MEMBER_COMMON_PATH.'/footer.html';?>
<script>
    layui.use('memberlogger');
</script>