<?php include MEMBER_COMMON_PATH.'/header.html';?>
<div class="layui-container fly-marginTop">
    <div class="fly-panel">
        <div class="fly-none">
			<?php if($code =="error"):?>
            <h2><i class="layui-icon layui-icon-close-fill" style="font-size:300px;"></i></h2>
			<?php elseif($code =="success"):?>
			<h2><i class="layui-icon layui-icon-ok-circle" style="font-size:300px;"></i></h2>
			<?php else:?>
			<h2><i class="layui-icon layui-icon-about" style="font-size:300px;"></i></h2>
			<?php endif;?>
            <p><?php echo $msg;?></p>
            <div class="countdown gray text-center" id="countdown" style="padding-top: 10px;"><b>5</b>秒后自动返回</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function(){
        var countDiv = document.getElementById('countdown');
        var bText = countDiv.getElementsByTagName('b')[0];
        var aNumber = parseInt(bText.innerHTML);
        function countDown(){
            aNumber--;
            if (aNumber>0) {
                bText.innerHTML = aNumber;
                timer = setTimeout(countDown,1000);
            } else {
				location.href='<?php echo siteUrl($config['weburl'], $url);?>';
            }
        }
        var timer = setTimeout(countDown,1000);
    })();
</script>
<!--引入公共底文件-->
<?php include MEMBER_COMMON_PATH.'/footer.html';?>