<?php include ADMIN_COMMON_PATH.'/header.html';?>
<div class="layui-container fly-marginTop fly-user-main">
    <?php include ADMIN_COMMON_PATH.'/setting-nav.html';?>
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="email">
            <ul class="layui-tab-title" id="LAY_mine">
                <li class="" lay-id="info"><a href="/<?php echo ADMIN_DIR;?>/payment">支付设置</a></li>
                <li class="layui-this" lay-id="info">编辑</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-form-pane layui-tab-item layui-show">
                    <blockquote class="layui-elem-quote">
                        <p>PAYJS是业内比较可靠、稳定、安全的个人支付接口，推荐使用。开通地址：<a href="https://payjs.cn/ref/NDKEDL">PAYJS官网</a></p>
                    </blockquote>
                    <form class="layui-form layui-show" method="post">
                        <div class="layui-form-item">
                            <label for="t_payment" class="layui-form-label">支付渠道</label>
                            <div class="layui-input-inline">
                                <input type="text" id="t_payment" name="payment" readonly disabled lay-verify="required" autocomplete="off" value="<?php echo $item['payment'];?>" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux"></div>
                        </div>
                        <div class="layui-form-item">
                            <label for="payname" class="layui-form-label">显示名称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="payname" name="payname" lay-verify="required" autocomplete="off" value="<?php echo $item['payname'];?>" class="layui-input">
                            </div>
                        </div>
<!--                        <div class="layui-form-item">-->
<!--                            <label for="payimage" class="layui-form-label">支付图片</label>-->
<!--                            <div class="layui-input-inline">-->
<!--                                <input type="text" id="payimage" name="payimage" lay-verify="required" autocomplete="off" value="<?php echo $item['payimage'];?>" class="layui-input">-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="layui-form-item">
                            <label for="app_id" class="layui-form-label">mchid</label>
                            <div class="layui-input-inline">
                                <input type="text" id="app_id" name="app_id" required lay-verify="required" autocomplete="off" value="<?php echo $item['app_id'];?>" class="layui-input">
                            </div>
                        </div>
						
                        <div class="layui-form-item">
                            <label for="app_secret" class="layui-form-label">key</label>
                            <div class="layui-input-inline">
								<input type="text" id="app_secret" name="app_secret" required lay-verify="required" autocomplete="off" value="<?php echo $item['app_secret'];?>" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">是否激活</label>
                            <div class="layui-input-inline">
                                <input type="radio" name="active" value="1" title="激活" <?php if($item['active']=='1' ):?>checked=""<?php endif;?>>
                                <input type="radio" name="active" value="0" title="取消" <?php if($item['active']=='0' ):?>checked=""<?php endif;?>>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <input type="hidden" name="id" value="<?php echo $item['id'];?>">
                            <input type="hidden" name="method" value="edit">
                            <button class="layui-btn" key="set-mine" lay-filter="edit" lay-submit>确认修改</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--引入公共底文件-->
<?php include ADMIN_COMMON_PATH.'/footer.html';?>
<script>
layui.use('adminpayment');
</script>