<?php include ADMIN_COMMON_PATH.'/header.html';?>
<div class="layui-container fly-marginTop fly-user-main">
    <?php include ADMIN_COMMON_PATH.'/setting-nav.html';?>
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="email">
            <ul class="layui-tab-title" id="LAY_mine">
                <li class="" lay-id="info"><a href="/<?php echo ADMIN_DIR;?>/payment">支付设置</a></li>
                <li class="layui-this" lay-id="info">编辑</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-form-pane layui-tab-item layui-show">
                    <blockquote class="layui-elem-quote">
                        <p> 注意事项： </p>
                        <p> 本支付接口同步支付回调地址(第一种):<?php echo $config['weburl'];?>/product/query/?zlkbmethod=auto&paymethod=<?php echo $item['alias'];?>&orderid={订单号}</p>
						<p> 本支付接口同步支付回调地址(第二种):<?php echo $config['weburl'];?>/query/auto/{订单号}.html</p>
						<p> 本支付接口异步支付回调地址:<?php echo $config['weburl'];?>/product/notify/?paymethod=<?php echo $item['alias'];?></p>
                    </blockquote>
                    <form class="layui-form layui-show" method="post">
                        <div class="layui-form-item">
                            <label for="t_payment" class="layui-form-label">支付渠道</label>
                            <div class="layui-input-inline">
                                <input type="text" id="t_payment" name="payment" readonly disabled lay-verify="required" autocomplete="off" value="<?php echo $item['payment'];?>" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="payname" class="layui-form-label">显示名称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="payname" name="payname" lay-verify="required" autocomplete="off" value="<?php echo $item['payname'];?>" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="app_id" class="layui-form-label">app_id</label>
                            <div class="layui-input-inline">
                                <input type="text" id="app_id" name="app_id" required lay-verify="required" autocomplete="off" value="<?php echo $item['app_id'];?>" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item layui-form-text">
                            <label for="ali_public_key" class="layui-form-label">ali_public_key</label>
                            <div class="layui-input-block">
                                <textarea placeholder="" id="ali_public_key" name="ali_public_key" lay-verify="required" autocomplete="off" class="layui-textarea" style="height: 80px;"><?php echo $item['ali_public_key'];?></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label for="rsa_private_key" class="layui-form-label">rsa_private_key</label>
                            <div class="layui-input-block">
                                <textarea placeholder="" id="rsa_private_key" name="rsa_private_key" lay-verify="required" autocomplete="off" class="layui-textarea" style="height: 80px;"><?php echo $item['rsa_private_key'];?></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">签名方式</label>
                            <div class="layui-input-inline">
                                <select name="sign_type" lay-filter="required">
                                    <option value=""></option>
                                    <option value="RSA">RSA</option>
                                    <option value="RSA2" selected="">RSA2</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">是否激活</label>
                            <div class="layui-input-inline">
                                <input type="radio" name="active" value="1" title="激活" <?php if($item['active']=='1' ):?>checked=""<?php endif;?>>
                                <input type="radio" name="active" value="0" title="取消" <?php if($item['active']=='0' ):?>checked=""<?php endif;?>>
                            </div>
                        </div>
						<input type="hidden" id="overtime" name="overtime" value="0">
                        <div class="layui-form-item">
                            <input type="hidden" name="id" value="<?php echo $item['id'];?>">
                            <input type="hidden" name="method" value="edit">
                            <button class="layui-btn" key="set-mine" lay-filter="edit" lay-submit>确认修改</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--引入公共底文件-->
<?php include ADMIN_COMMON_PATH.'/footer.html';?>
<script>
layui.use('adminpayment');
</script>