<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理－by资料空白</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="资料空白,ZFAKA,发卡平台,发卡系统">
	<meta name="author" content="资料空白">
	<meta name="version" content="<?php echo VERSION;?>">
    <meta name="description" content="ZFAKA平台正在由资料空白开发并免费提供">
    <link rel="stylesheet" href="/res/layui/css/layui.css">
    <link rel="stylesheet" href="/res/css/global.css">
	<?php if(isset($config['shortcuticon']) AND strlen($config['shortcuticon'])>0):?>
	<link rel="shortcut icon" href="<?php echo $config['shortcuticon'];?>" /> 
	<?php else:?>
	<link rel="shortcut icon" href="/favicon.ico" /> 
	<?php endif;?>
    <script>
    var TOKEN = "<?php echo $csrf_token;?>";
	var ADMIN_DIR = "<?php echo ADMIN_DIR;?>";
    if (self != top) {
        top.location = self.location;
    }
    </script>
</head>

<body>
    <div class="fly-header <?php if(isset($config['headermenucolor']) AND strlen($config['headermenucolor'])>0):?><?php echo $config['headermenucolor'];?><?php else:?>layui-bg-black<?php endif;?>">
        <div class="layui-container">
            <div class="layui-hide-xs"><a class="fly-logo" href="/<?php echo ADMIN_DIR;?>"><img src="<?php if(isset($config['logo']) AND strlen($config['logo'])>0):?><?php echo $config['logo'];?><?php else:?>/res/images/logo.png<?php endif;?>" alt="zfaka"></a></div>
            <ul class="layui-nav fly-nav" id="webmenu">
				<li class="layui-nav-item layui-hide-lg layui-hide-md layui-hide-sm layadmin-flexible">
					<a href="javascript:;" title="侧边伸缩">
					<i class="layui-icon layui-icon-spread-left" id="main-menu-mobile-switch"></i>
					</a>
				</li>
                <li class="layui-nav-item layui-hide-xs">
                    <a href="/<?php echo ADMIN_DIR;?>/">账户中心</a>
                </li>
                <li class="layui-nav-item layui-hide-xs">
                    <a href="/<?php echo ADMIN_DIR;?>/setting">设置中心</a>
                </li>
                <li class="layui-nav-item layui-hide-xs">
                    <a href="/<?php echo ADMIN_DIR;?>/user">用户管理</a>
                </li>
                <li class="layui-nav-item layui-hide-xs">
                    <a href="/<?php echo ADMIN_DIR;?>/products">商品管理</a>
                </li>
                <li class="layui-nav-item layui-hide-xs">
                    <a href="/<?php echo ADMIN_DIR;?>/order">订单管理</a>
                </li>
                <li class="layui-nav-item layui-hide-xs">
                    <a href="/<?php echo ADMIN_DIR;?>/report">统计报表</a>
                </li>
            </ul>
            <ul class="layui-nav fly-nav-user">
                <li class="layui-nav-item">
                    <a class="fly-nav-avatar" href="javascript:;">
                        <cite class="layui-hide-xs">
                            <?php echo $AdminUser['email'];?>
                        </cite>
                        <i class="iconfont icon-renzheng layui-hide-xs" title="<?php echo $AdminUser['email'];?>"></i>
                        <img src="/res/images/avatar/<?php echo rand(0,11);?>.jpg">
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/<?php echo ADMIN_DIR;?>/profiles/"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
                        <dd><a href="/<?php echo ADMIN_DIR;?>/logger"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的日志</a></dd>
                        <dd><a href="/<?php echo ADMIN_DIR;?>/"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
                        <hr style="margin: 5px 0;">
                        <dd><a href="/<?php echo ADMIN_DIR;?>/logout/" style="text-align: center;">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
	<script type="text/javascript">
	function setClassName() {
		var menuChild = document.getElementById('webmenu').childNodes,
			aName = window.location.pathname,
			aMenu = [];
		for (var i = 0, j = menuChild.length; i < j; i++) {
			if (menuChild[i].nodeType != 3) {
				aMenu.push(menuChild[i]);
			}
		}
		if (aName.indexOf('/<?php echo ADMIN_DIR;?>/report') >-1) {
			aMenu[6].className += ' layui-this';
		} else if (aName.indexOf('/<?php echo ADMIN_DIR;?>/order') >-1 || aName.indexOf('/<?php echo ADMIN_DIR;?>/emailqueue') > -1) {
			aMenu[5].className += ' layui-this';
		} else if (aName.indexOf('/<?php echo ADMIN_DIR;?>/products') > -1) {
			aMenu[4].className += ' layui-this';
		} else if (aName.indexOf('/<?php echo ADMIN_DIR;?>/user') > -1) {
			aMenu[3].className += ' layui-this';
		} else if (aName.indexOf('/<?php echo ADMIN_DIR;?>/setting') > -1 || aName.indexOf('/<?php echo ADMIN_DIR;?>/email') > -1 || aName.indexOf('/<?php echo ADMIN_DIR;?>/payment') > -1) {
			aMenu[2].className += ' layui-this';
		} else if (aName.indexOf('/<?php echo ADMIN_DIR;?>') > -1) {
			aMenu[1].className += ' layui-this';
		}
	}
	setClassName();
	</script>
	
<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="main-menu" id="main-menu-mobile" style="display: none;z-index: 19891016;width: 300px;">
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">主菜单</a>
    <dl class="layui-nav-child">
      <dd><a href="/<?php echo ADMIN_DIR;?>/">账户中心</a></dd>
      <dd><a href="/<?php echo ADMIN_DIR;?>/setting">设置中心</a></dd>
      <dd><a href="/<?php echo ADMIN_DIR;?>/user">用户管理</a></dd>
      <dd><a href="/<?php echo ADMIN_DIR;?>/products">商品管理</a></dd>
	  <dd><a href="/<?php echo ADMIN_DIR;?>/order">订单管理</a></dd>
	  <dd><a href="/<?php echo ADMIN_DIR;?>/report">统计报表</a></dd>
    </dl>
  </li>
</ul>