<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item layui-this">
        <a href="/<?php echo ADMIN_DIR;?>/index">账户中心</a>
    </li>
    <li class="layui-nav-item">
        <a href="/<?php echo ADMIN_DIR;?>/profiles">账户设置</a>
    </li>
    <li class="layui-nav-item">
        <a href="/<?php echo ADMIN_DIR;?>/logger">登录日志</a>
    </li>
</ul>
<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>
<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>