<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
        <a href="/<?php echo ADMIN_DIR;?>/products">商品管理</a>
    </li>
    <li class="layui-nav-item">
        <a href="/<?php echo ADMIN_DIR;?>/productscard">卡密管理</a>
    </li>
    <li class="layui-nav-item layui-this">
        <a href="/<?php echo ADMIN_DIR;?>/productstype">产品分类</a>
    </li>
</ul>
<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>
<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>