<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item layui-this">
        <a href="/<?php echo ADMIN_DIR;?>/setting">配置中心</a>
    </li>
    <li class="layui-nav-item">
        <a href="/<?php echo ADMIN_DIR;?>/email">邮箱设置</a>
    </li>
    <li class="layui-nav-item">
        <a href="/<?php echo ADMIN_DIR;?>/payment">支付设置</a>
    </li>
</ul>
<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>
<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>